@import 'bootstrap/dist/css/bootstrap.min.css';

#root, html {
    background: #E8FFC3;
}

.login-container {
    background: #E8FFC3; 
}

.heroContainer {
    height: 200px;
}

.scheduleBtn {
    background: linear-gradient(45deg, #007bff, #0056b3);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.scheduleBtn:hover {
    background: linear-gradient(45deg, #0056b3, #003a80);
    transform: scale(1.05);
}

.scheduleBtn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.table {
    width: 100%; /* Ensure the table takes up 100% of the container's width */
}

.table th, .table td {
    text-align: center; /* Center content horizontally */
    vertical-align: middle; /* Center content vertically */
}

.table-actions {
    white-space: nowrap; /* Prevent line break in actions cell */
    width: 150px; /* Adjust the width as needed */
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn-icon:focus {
    outline: none;
    box-shadow: none;
}


.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-content {
    margin: 50px;
    max-width: 100%;
}

.navbar, .footer {
    height: 90px;
    overflow: hidden;
    padding: 0;
}

.navbar .icons img,
.navbar button {
    max-height: 100%;
    display: flex;
    align-items: center;
}

.navbar .icons {
    height: 100%;
}

.icons-img {
    width: 80px; /* Adjust the width to make the image bigger */
    height: auto; /* Ensure the aspect ratio is maintained */
}

.fontAwesome {
    color: #8cb561;
    font-size: 50px;
}

.profileContainer {
    background-color: #E8FFC3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Set a fixed height */
}

.profile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    margin: 10px;
}

.profile-text {
    margin-bottom: auto; /* Pushes the button to the bottom */
}

.circle {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: #8cb561; /* Or any color you prefer */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Adjust font size as needed */
}

.title-header {
    font-weight: bold;
    color: #2c3e50;
    background-color: #E8FFC3;;
    text-align: center;
    font-size: 2.5rem; /* Adjust font size as needed */
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

table {
    border: 8px solid #2c3e50;
}


